[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "r.proxy"]
	path = r.proxy
	url = https://github.com/xiayh17/r.proxy
[submodule "scRNAstat"]
	path = scRNAstat
	url = https://github.com/cran/scRNAstat
